.fundo {
    background-image: url("img/fundo.jpg");
    background-size: cover;
}

.nome {
    display: flex;
    justify-self: center;
    font-family: Georgia;
}

img {
    width: 500px;
    height: 250px;
    display: flex;
    justify-self: center;
}

.divredes {
    display:  center;
    justify-self: center;
    border-radius: 5px;
    border-color: black;
    padding: 10px;
}

.redes {
    color: rgb(4, 0, 58);
    font-family: Georgia;


}

.link {
    display: flex;
    align-items: end;
}
